/* Theme Colors */

/* App Type Colors */
.sp {
  background-color: var(--sp);
}

.mi {
  background-color: var(--mi);
}

.ssk-mon {
  background-color: var(--ssk-mon);
}

.moneter {
  background-color: var(--ssk-mon);
}

.market {
  background-color: var(--market);
}

.internal {
  background-color: var(--internal);
}

.external {
  background-color: var(--eksternal);
}

.middleware {
  background-color: var(--middleware);
}

.direct {
  background-color: var(--direct);
}

.soa {
  background-color: var(--soa);
}

.sftp {
  background-color: var(--sftp);
}

/* Node Border Colors */
.node-border {
  stroke-width: 2px;
}

.node-border.sp {
  stroke: var(--sp);
}

.node-border.mi {
  stroke: var(--mi);
}

.node-border.ssk-mon {
  stroke: var(--ssk-mon);
}

.node-border.ssk {
  stroke: var(--ssk-mon);
}

.node-border.moneter {
  stroke: var(--ssk-mon);
}

.node-border.market {
  stroke: var(--market);
}

.node-border.internal {
  stroke: var(--internal);
}

.node-border.external {
  stroke: var(--eksternal);
}

.node-border.middleware {
  stroke: var(--middleware);
}

/* Link Colors */
.link.direct {
  stroke: var(--direct);
}

.link.soa {
  stroke: var(--soa);
}

.link.sftp {
  stroke: var(--sftp);
}
